[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
geocoder = "==1.38.1"
skyfield = "==1.10"
PyOngc = "==0.3.0"
astroplan = "*"

[requires]
python_version = "3.7"
